@import "src/index";

.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.item {
  margin: 30px;
  width: 94%;
  border: 1px solid $main-color;
  border-radius: 30px;
  display: flex;
}

.avatar {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 20px 30px;
}

.mainInfo {
  align-content: space-between;
  display: grid;
}

.name {
  display: inline;
  font-size: large;
  font-weight: bold;
}

.country {
  display: inline;
  font-weight: bold;
}

.avatar button {
  color: $content-color;
  font-size: medium;
  font-weight: bold;
  border-radius: 30px;
  border: 1px solid $text-color;
  background-color: $active-color;
}

.active {
  font-weight: bold;
  background-color: $active-color;
}

.pagination {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 4px;
  background-color: $second-color;
}

.pagination button {
  width: 45px;
  height: 45px;
  margin: 5px;
  box-sizing: border-box;
  font-size: medium;
  font-weight: bold;
  border: $text_color 1px solid;
}

.pactive {
  border-radius: 30px;
  font-weight: bolder;
  background-color: $text-color;
  box-sizing: border-box;
}

.page {
  background-color: $second-color;
  color: $text-color;
  border-radius: 30px;
}

button:disabled{
  width: 30px;
  border: none;
  color: $active_color;
  font-weight: bolder;
  font-size: larger;
  background-color: $second-color;
}
