@import "src/index";


.navigation {
    grid-area: n;
    background-color: $second-color;
    padding: 15px;
}
.item a {
    color: $text-color;
    text-decoration: none;
}

.item a.active {
    color: $active-color;
}
