@import "src/index";

.header {
    grid-area: h;
    background-color: $main-color;
}
.header img {
    width: 20px;
}

.loginBlock {
    float: right;
padding: 20px;

}

.loginBlock a {
    color: $content-color;
    font-size: larger;
    text-decoration: none;
}

.userName {
    color: $content-color;
    font-size: larger;
}