@import "src/index";

.header {
    grid-area: h;
    background-color: $main-color;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border: 1px solid $three-color;
}
.header img {
    width: 60px;
}

.loginBlock {
    float: right;
padding: 20px;

}

.loginBlock a {
    color: $text-color;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

.userName {
    color: $text-color;
    font-size: xx-large;
    font-weight: bold;
}
