.infoBlock {
    padding: 20px;
    display: flex;
}
.descriptionBlock{
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
}
.previmg {
    width: 250px;
    height: 250px;
}
.main{
    font-weight: bold;
}

.main span {
    font-weight: normal;
}