@import "src/index";

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px;
}
.dialog a {
    color: $text-color;
    text-decoration: none;
}
.dialog a.active {
    color: $active-color;
}
.messages {
    padding: 10px;
}

.message {

}